{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Instagram Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

    <div class="wrapper">
        <div class="header">
            <div class="top">
                <div class="logo">
                    <img src="{% static 'images/instagram.png' %}" alt="instagram" style="width: 175px;">
                </div>
                <div class="form">
                    <p class="sign-up-text">Your password has been updated. <a href="#">Click here</a> to continue.</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="links">
                <ul>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">SUPPORT</a></li>
                    <li><a href="#">PRESS</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">JOBS</a></li>
                    <li><a href="#">PRIVACY</a></li>
                    <li><a href="#">TERMS</a></li>
                    <li><a href="#">DIRECTORY</a></li>
                    <li><a href="#">PROFILES</a></li>
                    <li><a href="#">HASHTAGS</a></li>
                    <li><a href="#">LANGUAGE</a></li>
                </ul>
            </div>
            <div class="copyright">
                © 2019 INSTAGRAM
            </div>
        </div>
    </div>

</body>

</html>