{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Instagram Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

    <div class="wrapper">
        <div class="header">
            <div class="top">
                <div class="logo">
                    <img src="{% static 'images/instagram.png' %}" alt="instagram" style="width: 175px;">
                </div>
                {% for field in form %}
                {% for error in field.errors %}
                <p class="message-text">{{error}}</p>
                {% endfor %}
                {% endfor %}
                <form class="form" method="POST">
                    {% csrf_token %}
                    <div class="input_field">
                        <input type="password" placeholder="Old Password" class="input" name="old_password"
                            id="id_old_password" required>
                    </div>
                    <div class="input_field">
                        <input type="password" placeholder="New Password" class="input" name="new_password1"
                            id="id_new_password1" required>
                    </div>
                    <div class="input_field">
                        <input type="password" placeholder="Confirm Password" class="input" name="new_password2"
                            id="id_new_password2" required>
                    </div>

                    <input type="submit" value="Update Password" class="submit-btn" id="id_submit_btn">

                </form>
            </div>
        </div>
        <div class="footer">
            <div class="links">
                <ul>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">SUPPORT</a></li>
                    <li><a href="#">PRESS</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">JOBS</a></li>
                    <li><a href="#">PRIVACY</a></li>
                    <li><a href="#">TERMS</a></li>
                    <li><a href="#">DIRECTORY</a></li>
                    <li><a href="#">PROFILES</a></li>
                    <li><a href="#">HASHTAGS</a></li>
                    <li><a href="#">LANGUAGE</a></li>
                </ul>
            </div>
            <div class="copyright">
                © 2019 INSTAGRAM
            </div>
        </div>
    </div>

</body>

</html>