{% extends 'main.html' %}
{% load post_tags %}
{% load static %}

{% block content %}
<style>
    main {
        color: #515151;
    }
</style>
<main style="overflow: hidden;">
    <div class="main-container" id="main-container">
        <div class=" left-part">
            <!-- story start  -->
            <div class="story-container" id="story-container">
                <div class="story-card">
                    <div class="add-story">
                        <svg width="55" height="55" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="66" height="66" rx="33" fill="white" />
                            <g clip-path="url(#clip0_6_2)">
                                <path
                                    d="M40.8 57H25.2C18.6 57 15.6 55.4 13.1 53C10.6 50.4 9 47.4 9 40.8V25.2C9 18.6 10.6 15.6 13 13.1C15.6 10.6 18.6 9 25.2 9H40.8C47.4 9 50.4 10.6 52.9 13C55.4 15.6 57 18.6 57 25.2V40.8C57 47.4 55.4 50.4 53 52.9C50.4 55.4 47.4 57 40.8 57ZM25.2 12C19 12 16.8 13.6 15.1 15.2C13.6 16.8 12 19 12 25.2V40.8C12 47 13.6 49.2 15.2 50.9C16.8 52.5 19 54 25.2 54H40.8C47 54 49.2 52.4 50.9 50.8C52.5 49.2 54 47 54 40.8V25.2C54 19 52.4 16.8 50.8 15.1C49.2 13.6 47 12 40.8 12H25.2Z"
                                    fill="#515151" />
                                <path
                                    d="M45.3 34.5H20.7C19.9 34.5 19.2 33.8 19.2 33C19.2 32.2 19.9 31.5 20.7 31.5H45.3C46.1 31.5 46.8 32.2 46.8 33C46.8 33.8 46.1 34.5 45.3 34.5Z"
                                    fill="#515151" />
                                <path
                                    d="M33 46.7999C32.2 46.7999 31.5 46.0999 31.5 45.2999V20.7C31.5 19.9 32.2 19.2 33 19.2C33.8 19.2 34.5 19.9 34.5 20.7V45.2999C34.5 46.0999 33.8 46.7999 33 46.7999Z"
                                    fill="#515151" />
                            </g>
                            <defs>
                                <clipPath id="clip0_6_2">
                                    <rect width="48" height="48" fill="white" transform="translate(9 9)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <p class="username" style="font-weight:500; color: #515151;">Add Story</p>
                </div>
                {% for story in stories %}
                <div class="story-card" id="story-{{story.id}}" data-story-user-username="{{story.user.username}}"
                    data-story-user-profile-pic="{{story.user.profile_pic.url}}" data-story-pic="{{story.image.url}}"
                    onclick="previewStory('{{story.id}}')">
                    <div class="profile-pic unseen">
                        <img src="{{story.user.profile_pic.url}}" alt="" class="profile-img">
                    </div>
                    <p class="username">{{story.user.username}}</p>
                </div>
                {% endfor %}
            </div>
            <!-- story end -->

            <!-- posts start -->
            <div class="post-container" id="post-card">
                {% for post in posts %}
                {% if post.user != request.user %}
                <div class="post-card">
                    <div class="user-info">
                        <div class="info">
                            <div class="profile-pic seen">
                                <img src="{{post.user.profile_pic.url}}" alt="" class="profile-img">
                            </div>
                            <p class="username">{{post.user.username}}</p>
                        </div>
                        <svg aria-label="More options" class="options" color="#262626" fill="#262626" height="24"
                            role="img" viewBox="0 0 24 24" width="24">
                            <circle cx="12" cy="12" r="1.5"></circle>
                            <circle cx="6.5" cy="12" r="1.5"></circle>
                            <circle cx="17.5" cy="12" r="1.5"></circle>
                        </svg>
                    </div>

                    {% for image in post.image.all %}

                    <img src="{{image.image.url}}" alt="">

                    {% endfor %}
                    <div class="post-details">
                        <div class="post-reactions">
                            {% is_liked post 'is_liked_by_current_user' request.user.id as isLiked %}
                            {% if isLiked %}
                            <svg aria-label="Like" class="like-ic-em rec-icon" color="#262626" height="24" role="img"
                                viewBox="0 0 48 48" width="24" id="like-btn-{{post.id}}" onclick="like('{{post.id}}')"
                                fill="#ed4956">
                                <path
                                    d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                                </path>
                            </svg>
                            {% else %}
                            <svg aria-label="Like" class="like-ic-em rec-icon" color="#262626" height="24" role="img"
                                viewBox="0 0 48 48" width="24" id="like-btn-{{post.id}}" onclick="like('{{post.id}}')">
                                <path
                                    d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                                </path>
                            </svg>
                            {% endif %}

                            <svg aria-label="Comment" class="comment-ic rec-icon" color="#262626" fill="#262626"
                                height="24" role="img" viewBox="0 0 48 48" width="24">
                                <path clip-rule="evenodd"
                                    d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z"
                                    fill-rule="evenodd"></path>
                            </svg>
                            <svg aria-label="Share Post" class="share-post-ic rec-icon" color="#262626" fill="#262626"
                                height="24" role="img" viewBox="0 0 48 48" width="24">
                                <path
                                    d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z">
                                </path>
                            </svg>
                            <svg aria-label="Save" class="sve-post-ic rec-icon" color="#262626" fill="#262626"
                                height="24" role="img" viewBox="0 0 48 48" width="24">
                                <path
                                    d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z">
                                </path>
                            </svg>
                        </div>
                        <div class="likes-div" id="likes-div-{{post.id}}" data-total-likes="{{post.get_total_likes}}"
                            data-user-profile-pic="{{request.user.profile_pic.url}}">
                            {% if isLiked %}
                            <img src="{{request.user.profile_pic.url}}" alt="">
                            <p class="likes-cnt">
                                Liked by <span>You</span> and
                                <span>{{post.get_total_likes|add:"-1"}}
                                    others
                                </span>
                            </p>
                            {% else %}
                            {% if post.get_total_likes == 0 %}
                            <p class="likes-cnt">
                                {{post.get_total_likes}} Likes
                                </span>
                            </p>
                            {% elif post.get_total_likes == 1 %}
                            <p class="likes-cnt">
                                {{post.get_total_likes}} Like
                                </span>
                            </p>
                            {% else %}
                            <p class="likes-cnt">
                                {{post.get_total_likes}} Likes
                                </span>
                            </p>
                            {% endif %}
                            {% endif %}
                        </div>
                        <div class="caption-div">
                            <span>{{post.user.username}} </span> {{post.caption}}
                        </div>
                        <div class="post-time">{{post.date_created|timesince}} ago</div>
                        <div class="view-all-cmt">View all 2,000 comments</div>
                        <div class="comment-div">
                            <svg aria-label="Emoji" class="rec-icon" color="#262626" fill="#262626" height="24"
                                role="img" viewBox="0 0 48 48" width="24">
                                <path
                                    d="M24 48C10.8 48 0 37.2 0 24S10.8 0 24 0s24 10.8 24 24-10.8 24-24 24zm0-45C12.4 3 3 12.4 3 24s9.4 21 21 21 21-9.4 21-21S35.6 3 24 3z">
                                </path>
                                <path
                                    d="M34.9 24c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5 1.1 2.5 2.5 2.5 2.5-1.1 2.5-2.5zm-21.8 0c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5-1.1 2.5-2.5 2.5-2.5-1.1-2.5-2.5zM24 37.3c-5.2 0-8-3.5-8.2-3.7-.5-.6-.4-1.6.2-2.1.6-.5 1.6-.4 2.1.2.1.1 2.1 2.5 5.8 2.5 3.7 0 5.8-2.5 5.8-2.5.5-.6 1.5-.7 2.1-.2.6.5.7 1.5.2 2.1 0 .2-2.8 3.7-8 3.7z">
                                </path>
                            </svg>
                            <input type="text" class="comment-inp" placeholder="Add a comment" />
                            <button class="comment-btn" disabled>Post</button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <!-- posts end -->

        </div>
        <div class="right-part">
            <!-- Profile Div start -->
            <div class="login-div">
                <div class="logged-div">
                    <div class="profile-pic">
                        <img src="{{request.user.profile_pic.url}}" alt="" class="profile-img" id="default-pp-1">
                    </div>
                    <div class="name-div">
                        <p class="username" id="default-username">{{request.user.username}}</p>
                        <p class="fullname" id="default-name">{{request.user.name}}</p>
                    </div>
                </div>
                <div class="switch-div">
                    <a class="action-btn" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
            <!-- Profile div end -->

            <!-- follow request container start -->
            <div class="suggestion-div">
                <div class="suggest-txt">
                    <p class="suggestion-txt">Follow Requests</p>
                    <p class="see-all-txt">See All</p>
                </div>
                <div class="suggestions" id="suggestions">
                    {% for request in follow_requests %}
                    <div class="suggest-card">
                        <div class="s-userinfo">
                            <div class="profile-pic">
                                <img src="{% static '/images/default-user.png' %}" alt="" class="profile-img">
                            </div>
                            <a href="{% url 'profile' request.sender.id %}">
                                <div class="name-div">
                                    <p class="username">{{request.sender.username}}</p>
                                    <p class="fullname">{{request.sender.name}}</p>
                                </div>
                            </a>
                        </div>
                        <div class="switch-div">
                            <button class="action-btn" id="accept-btn"
                                onclick="acceptFollowRequest('{{request.id}}')">Accept</button>
                        </div>
                    </div>
                    {% empty %}
                    <p>No follow requests</p>
                    {% endfor %}
                </div>
            </div>
            <!-- follow requests container end -->

            <div class="footer-container">
                <!-- AboutHelpPressAPIJobsPrivacyTermsLocationsTop AccountsHashtagsLanguage
                            English
                            © 2021 INSTAGRAM FROM META -->
            </div>
        </div>
    </div>
</main>

<div class="pop-out-wrapper hidden" id="pop-out-wrapper">
    <button class="close-btn" onclick="closePopOut()">X</button>
    <div class="story-preview-container">
        <div class="story-shadow">
        </div>
        <div class="user-info story-user-info">
            <div class="info">
                <div class="profile-pic">
                    <img src="{% static 'images/placeholder.png' %}" alt="" class="profile-img"
                        id="story-preview-user-profile-pic">
                </div>
                <p class="username" style="color: #fff;" id="story-preview-user-username">Username</p>
            </div>
            <svg aria-label="More options" class="options" color="#262626" fill="#262626" height="24" role="img"
                viewBox="0 0 24 24" width="24">
                <circle cx="12" cy="12" r="1.5"></circle>
                <circle cx="6.5" cy="12" r="1.5"></circle>
                <circle cx="17.5" cy="12" r="1.5"></circle>
            </svg>
        </div>
        <div class="story-photo-container">
            <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
                alt="placeholder" id="story-preview-story-pic">
        </div>
        <button id="next-btn" class="next-btn" onclick="nextStory()">></button>
    </div>

</div>

<script src="{% static 'js/story.js' %}"></script>

{% endblock %}